# Secrets
.env
.envrc
*.key
*.pem

# Spotify cache (Spotipy token cache files)
.cache-*
.cache/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Virtual env
.venv/
venv/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

#Mongo
src/mongo_data

